body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 15% 85%; /* 25% for sidebar, 75% for content */
    grid-template-rows: auto 1fr; /* auto for header, 1fr for the rest */
    height: 100vh; /* make body take full viewport height */
}

header {
    background-color: #acacac;
    /* padding: 10px; */
    text-align: center;
    grid-column: 2; /* start from left of sidebar */
    grid-row: 1; /* place in first row */
}

.sidebar {
    background-color: #2aa0a0;
    padding: 20px;
    grid-column: 1; /* place in first column */
    grid-row: 1 / span 2; /* span from first row to second row */
}

.content {
    padding: 20px;
    grid-column: 2; /* start from left of sidebar */
    grid-row: 2; /* place in second row */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li a {
    display: block;
    color: black;
    padding: 10px;
    text-decoration: none;
}

.sidebar li a:hover {
    background-color: #ddd;
}

hr {
    color: black;
}